fieldset{
    width: 30%;
    border: 2px solid #0e6346;
    background-color: #e3fddb;
    text-align: left;
    padding: 2%;
}
legend{
    text-align: center;
    background-color: #0e6346;
    color: #fff;
    padding: 10px 20px;
    width: 60%;
}
label{
    display: block;
    margin-bottom: 20px;
}
.csv-table{
    border-collapse: collapse;
    margin-top: 20px;
}
.csv-table td, .csv-table th{
    border-bottom: 2px solid #0e6346;
    padding: 20px;
}
.csv-table th{
    background-color: #0e6346;
    color: #fff;
    font-size: 0.8em;
}
.csv-table tr:nth-child(even) td{
    background-color: #d1ffc2;
}
